.card {
  margin-top: -110px;
  background-color: rgba(5, 54, 116, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 7px;
  margin-bottom: 1em;
  box-shadow: 5px 5px 15px 5px #000000;
}

.restHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-bottom: -10px;
}

.card li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.list {
  margin-bottom: 1rem;
  width: 333px;
}

.btn {
  width: 220px;
  overflow: hidden;
  border: 2px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  transition: 0.3s;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ecae12;
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: white;
}

.btn:hover:before,
.btn:focus:before,
.btn:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

h2 {
  font-family: "Lobster Two", cursive;
  font-size: 35px;
  letter-spacing: 1px;
  color: gold;
  text-shadow: black 3px 3px;
  margin-bottom: -10px;
}

.address {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: gainsboro;
}

.address p {
  font-size: 12px;
}

h4 {
  font-family: "Satisfy", cursive;
  font-size: 2em;
  transform: rotate(-6deg);
  margin-bottom: 0.25em;
  margin-top: -0.25em;
  text-shadow: darkgrey 3px 3px;
}

@media screen and (min-width: 700px) {
  .card {
    width: 700px;
  }

  .btn {
    width: 300px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
  }

  h2 {
    margin-bottom: -10px;
    font-size: 45px;
  }

  h4 {
    font-size: 2.5em;
  }

  .address {
    margin-bottom: 0;
    margin-top: 0;
  }
}
