.beercard {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 57, 65, 0.8);
  width: 400px;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px #000000;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 60px;
}

.beerInfo {
  text-align: left;
}
h2 {
  text-align: center;
  overflow-wrap: break-word;
}

span {
  color: gainsboro;
  text-align: right;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 900px) {
  .beercard {
    width: 750px;
  }
}
