.beercard {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e43941;
  width: 400px;
  border-radius: 7px;
  box-shadow: 4px 4px 0 0 #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

@media screen and (min-width: 900px) {
  .beercard {
    width: 750px;
  }
}
