.navbar {
  width: 100%;
  position: fixed;
  background-color: black;
  height: 56px;
  z-index: 99;
}

.navbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.navbar_logo {
  color: #ecae12;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Fredericka the Great", cursive;
}

.navbar_navigation_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar_navigation_items li {
  padding: 0 0.5rem;
}

.navbar_navigation_items {
  color: white;
}

.spacer {
  flex: 1;
}
