.card {
  margin-top: 80px;
  background-color: gray;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.card li {
  list-style: none;
}

li:hover {
  color: royalblue;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}
